anndata~=0.12.1
pandas~=2.3.1
torch~=2.7.1+cu128
torch-geometric~=2.6.1
numpy~=2.1.2
scanpy~=1.11.4
matplotlib~=3.10.3
seaborn~=0.13.2
scikit-learn~=1.7.1
wandb~=0.21.0
decorator~=5.2.1
tqdm~=4.67.1
umap-learn~=0.5.9.post2
plotly~=6.2.0
celltypist~=1.7.1
scipy~=1.16.1
optuna~=4.4.0
statsmodels~=0.14.5